/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.audio,
.video,
.image {
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
